{% extends 'baseback.html.twig' %}

{% block title %}{% endblock %}

{% block container %}

<div class="container d-flex justify-content-center" style="margin-top: 120px">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-12 m-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header-2" style="margin-bottom: 20px">
                                <h3 class="text-center">Les informations du coach</h3>
                            </div>
                            <div >
    <form action="url_de_traitement" method="POST">
    <div class="form-group">
        <label for="id" style="text-decoration: underline">Id : </label>
        <label style="color: white; margin-left: 15px">{{ user.id }}</label>
    </div>
    <div class="form-group">
        <label for="nom" style="text-decoration: underline">Nom : </label>
        <label style="color: white; margin-left: 15px">{{ user.nom }}</label>
    </div>
    <div class="form-group">
        <label for="prenom" style="text-decoration: underline">Prénom : </label>
        <label style="color: white; margin-left: 15px">{{ user.prenom }}</label>
    </div>
    
    <div class="form-group">
        <label for="email" style="text-decoration: underline">Email : </label>
        <label style="color: white; margin-left: 15px">{{ user.email }}</label>
    </div>
    
    <div class="form-group">
        <label for="sexe" style="text-decoration: underline">Sexe : </label>
        <label style="color: white; margin-left: 15px">{{ user.sexe }}</label>
    </div>
    <!-- Vous pouvez ajouter d'autres champs ici si nécessaire -->
</form>
</div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center my-4">
        <button class="btn btn-secondary mx-4" onclick="goBack()">Retour</button>
    </div>
    


    <a href="{{ path('app_back_coach_index') }}">back to list</a>

    <a href="{{ path('app_back_coach_edit', {'id': user.id}) }}">edit</a>

    {{ include('back/coach/_delete_form.html.twig') }}

    <script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}












