{% extends 'baseback.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
 <!-- Container-fluid starts-->
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>Tous les exercices</h5>
                                        <form class="d-inline-flex">
                                            <a href="{{path('app_back_exercice_new')}}"
                                                class="align-items-center btn btn-primary" style="margin-bottom: 15px">
                                                Ajouter un exercice
                                            </a>
                                        </form>
                                    </div>

                                    <div class="table-responsive category-table">
                                        <div>
                                            <table class="table all-package theme-table" id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Id</th>
                                                        <th class="text-center">Nom</th>
                                                        <th class="text-center">Description</th>
                                                        {#<th>Type</th>#}
                                                        <th class="text-center">actions</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                {% for exercice in exercices %}
                                                    <tr>
                                                        <td >{{ exercice.id }}</td>
                                                        <td>{{ exercice.nom }}</td>
                                                        <td style="width: 60%;">{{ exercice.description }}</td>
                                                        {#<td>{{ exercice.type }}</td>#}
                                                        <td>
                                                            <div style="display: flex;">
                                                                <div style="display: inline;">
                                                                    <ul style="list-style-type: none; padding: 0; margin: 0;">
                                                                        <li style="display: inline;">
                                                                            <a href="{{ path('app_back_exercice_show', {'id': exercice.id}) }}">
                                                                                <i class="fas fa-eye" style="color:green; font-size: 18px"></i>
                                                                            </a>
                                                                        </li>

                                                                        <li style="display: inline; margin-left: 10px">
                                                                            <a href="{{ path('app_back_exercice_edit', {'id': exercice.id}) }}">
                                                                                <i class="fas fa-pencil-alt" style="font-size: 18px"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                                <div style="display: inline; margin-left: 10px">
                                                                    {{ include('back/exercice/_delete_form.html.twig') }}
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- All User Table Ends-->

{% endblock %}













