{{ form_start(form) }}


        <div class="mb-4 row align-items-center">
            <label class="form-label-title col-sm-3 mb-0">Titre : </label>
            <div class="col-sm-9">
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="mb-4 row align-items-center">
            <label class="form-label-title col-sm-3 mb-0">Description : </label>
            <div class="col-sm-9">
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="mb-4 row align-items-center">
            <label class="form-label-title col-sm-3 mb-0">Le contenu du bouton : </label>
            <div class="col-sm-9">
                {{ form_widget(form.textButton, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="mb-4 row align-items-center">
            <label class="form-label-title col-sm-3 mb-0">Image : </label>
            <div class="col-sm-9">
                {{ form_widget(form.imageBanniere, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-center" style="margin-top: 50px">
            <button type="submit" class="btn btn-primary mr-3">{{ button_label|default('Enregistrer') }}</button>
            <button type="button" class="btn btn-secondary mx-4" onclick="goBack()">Retour</button>
        </div>

{{ form_end(form) }}

<script>
    function goBack() {
        window.history.back();
    }
</script>