{% extends 'baseback.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
 <!-- Container-fluid starts-->
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table" >
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>Tous les programmes</h5>
                                        <form class="d-inline-flex">
                                            <a href="{{path('app_back_programme_new')}}"
                                                class="align-items-center btn btn-primary" style="margin-bottom: 15px">
                                                Ajouter un programme
                                            </a>
                                        </form>
                                    </div>

                                    <div class="table-responsive category-table">
                                        <div>
                                            <table class="table all-package theme-table" id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>User</th>
                                                        <th>Type</th>
                                                        <th>Date debut</th>
                                                        <th>Date fin</th>
                                                        <th>actions</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                {% for programme in programmes %}
                                                    <tr>
                                                        <td>{{ programme.id }}</td>
                                                        <td>{{ programme.userId.nom }} {{ programme.userId.prenom }}</td>
                                                        <td>{{ programme.typeId.libelle }}</td>
                                                        <td>{{ programme.dateDebut }}</td>
                                                        <td>{{ programme.dateFin }}</td>
                                                        <td>
                                                            <div style="display: flex;">
                                                                <div style="display: inline;">
                                                                    <ul style="list-style-type: none; padding: 0; margin: 0;">
                                                                        <li style="display: inline;">
                                                                            <a href="{{ path('app_back_programme_show', {'id': programme.id}) }}">
                                                                                <i class="fas fa-eye" style="color:green; font-size: 18px"></i>
                                                                            </a>
                                                                        </li>

                                                                        <li style="display: inline; margin-left: 10px">
                                                                            <a href="{{ path('app_back_programme_edit', {'id': programme.id}) }}">
                                                                                <i class="fas fa-pencil-alt" style="font-size: 18px"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                                <div style="display: inline; margin-left: 10px">
                                                                    {{ include('back/programme/_delete_form.html.twig') }}
                                                                </div>
                                                                
                                                                <div style="display: inline; margin-left: 25px">
    <a type="button" class="btn btn-secondary" style="font-size: 10px" href="{{ path('app_back_details_programme_index', {'programmeId': programme.id}) }}">Plus de détails</a>
</div>


                                                
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- All User Table Ends-->

{% endblock %}




















